* {
    background-color: papayawhip;
}

.heading{
    text-align: center; 
    font-family: fantasy;
    color: green;
    
}

.subheading{
    text-align: center; 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.image1{
    width: 300px;
    margin: auto;
    display: block;
}

.image2{
    width: 70%;
    height: auto;
    background-size: contain; 
}

.navbar{
    width: 100%; 
    margin: auto; 
    padding: 100px 0; 
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    font-family: fantasy;
}

a{
    color: green;
}

.paintbrush {
    width: 50px;
    height: 50px; 
}

.photo{
    width: 300px;
    margin: auto;
    display: block;
    
}

.caption{
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: center;
}

.projects_contactlink{
    font-family: fantasy;
    margin-top: 100px;
    text-align: center;
}

.contact_caption{
    text-align: center;
}
